body {
	background: #fff;
	font-family: Arial;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 2em;
}

.container {
	overflow: hidden;
	text-align: center;
}

.app-header {
	background: #fff;
	color: #999;
	padding: 1px;
}

.app-footer {
	font-size: 0.8em;
	padding: 2em;
}

.app-footer a {
	color: #ccc;
}

.app-loader {
	background: #CD0E41;
	height: 86px;
	margin: 8.5em auto;
	padding: 1em;
	width: 86px;
}

.fade-in {
	animation-fill-mode:forwards;
	animation-delay: 0.4s;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-name: fadeIn;
}

.section {
	background: #0e83cd;
	color: #fff;
	padding: 3em 1em;
	transition: background 0.2s;
}

.inactive {
	background: #CD0E41;
}

.active {
	background: #71CD0E;
}

.animate-in {
	animation-fill-mode:forwards;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-name: slideIn;
	animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0;
}

.animate-delay {
	animation-delay: 0.1s;
}

@keyframes slideIn {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* General button style (reset) */
.btn {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 15px 0;
	outline: none;
	padding: 25px 80px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
	height: 74px;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	background: #fff;
	color: #0e83cd;
}

.btn-loading {
	background: rgb(67, 162, 223) !important;
	border-radius: 50%;
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
	height: 74px;
	padding: 0;
	transition-duration: 0.5s;
	width: 74px;
}

/* Loader */

.loader {
	border-radius: 50%;
	transition: opacity 0.3s;
}

.loader-btn .clock {
	border: 0;
	transform: scale(0.8) translate(-7px, -7px);
}

/* -------------- Clock -------------- */

.clock{
	border-radius: 60px;
	border: 3px solid #fff;
	height: 80px;
	position: relative;
	width: 80px;
}
.clock:after{
	animation: grdAiguille 2s linear infinite;
	background-color: #fff;
	border-radius: 5px;
	content: "";
	height: 38px;
	left: 48%;
	position: absolute;
	top:2px;
	transform-origin: 50% 97%;
	width: 4px;
}

@keyframes grdAiguille{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

.clock:before{
	animation: ptAiguille 12s linear infinite;
	background-color: #fff;
	border-radius: 5px;
	content: "";
	height: 35px;
	left: 48%;
	position: absolute;
	top:6px;
	transform-origin: 50% 94%;
	width: 4px;
}

@keyframes ptAiguille{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}