body {
	background: #fff;
	font-family: Arial;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 2em;
}

.container {
	text-align: center;
	overflow: hidden;
}

.app-header {
	background: #fff;
	color: #999;
	padding: 1px;
}

.app-footer {
	font-size: 0.8em;
	padding: 2em;
}

.app-footer a {
	color: #ccc;
}

.app-loader {
	margin: 5em auto;
}

.section {
	background: #0e83cd;
	color: #fff;
	padding: 3em 1em;
	transition: background 0.2s;
}

.section.inactive {
	background: #CD0E41;
}

.section.active {
	background: #71CD0E;
}

.animate-in {
	-moz-animation-name: slideIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-animation-duration: 0.5s;

    -webkit-animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation-duration: 0.5s;

    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-duration: 0.5s;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

    opacity: 0;
}

.animate-delay {
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-moz-keyframes slideIn {
    0% {
        -moz-transform: translateY(30px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
	height: 74px;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: #fff;
}

.btn-loading {
	background: #fff;
	border-radius: 50%;
	border-width: 0;
	height: 96px;
	padding: 0;
	transition-duration: 0.5s;
	width: 96px;
}

/* Loader */

.loader {
	background: #CD0E41;
	border-radius: 50%;
	height: 96px;
	width: 96px;
	transition: opacity 0.3s;
}

/* -------------- Clock -------------- */

.clock{
	border-radius: 60px;
	border: 3px solid #fff;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: #fff;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #fff;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}